/* Articles Page */
.article-main {
    overflow-y: auto;
}

.article-section {
    /* Full size */
    height: 100vh;
    width: 100%;
}

.article-container-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    margin-top: -2rem;
    border-bottom: 3px solid black;
}

.article-image {
    max-width: 30%;
}

.section-2 {
   height: 80vh; 
}

.article-div-title {
    margin-top: 1.5rem;
}

.article-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    font-size: 1.25rem;
    border: 2px solid black;
    border-radius: 16px;
    width: 60%;
    margin-top: 5rem;
}

.table th {
    border: 2px solid black;
    border-radius: 16px;
    padding: 1rem;
    background-color: black;
    color: white
}

.table td {
    border: 2px solid black;
    border-radius: 16px;
    padding: 1rem;
    text-align: center;
}

.table tr:nth-child(even) {
    background-color: black;
    color: white;
}

.article-3-image {
    width: 22%;
}